soap-api-wrapper/src/main/resources/DQPigeonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DQPigeonServiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/" version="1.0">

  <xs:element name="DQPigeon" type="tns:DQPigeon"/>

  <xs:element name="DQPigeonResponse" type="tns:DQPigeonResponse"/>

  <xs:complexType name="DQPigeon">
    <xs:sequence>
      <xs:element name="TransactionID" type="xs:int"/>
      <xs:element minOccurs="0" name="Address" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DQPigeonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DQPigeonResult" type="tns:dqPigeonResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dqPigeonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataQuality" type="tns:dataQuality"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataQuality">
    <xs:sequence>
      <xs:element name="TransactionID" type="xs:int"/>
      <xs:element minOccurs="0" name="Address" type="tns:address"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="ULKE" type="xs:string"/>
      <xs:element minOccurs="0" name="IL" type="xs:string"/>
      <xs:element minOccurs="0" name="ILCE" type="xs:string"/>
      <xs:element minOccurs="0" name="LOKASYON" type="xs:string"/>
      <xs:element minOccurs="0" name="MAHALLE" type="xs:string"/>
      <xs:element minOccurs="0" name="CADDE" type="xs:string"/>
      <xs:element minOccurs="0" name="SOKAK" type="xs:string"/>
      <xs:element minOccurs="0" name="BINADAIRENO" type="xs:string"/>
      <xs:element minOccurs="0" name="BINABLOK" type="xs:string"/>
      <xs:element minOccurs="0" name="DAIRENO" type="xs:string"/>
      <xs:element minOccurs="0" name="POSTA_KOD" type="xs:string"/>
      <xs:element minOccurs="0" name="DEPTH" type="xs:string"/>
      <xs:element name="GEOCODE_DIKEY" type="xs:double"/>
      <xs:element name="GEOCODE_YATAY" type="xs:double"/>
      <xs:element name="SKOR" type="xs:int"/>
      <xs:element name="TAMAMLANMA_ORANI" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="DQPigeon">
    <wsdl:part name="parameters" element="tns:DQPigeon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DQPigeonResponse">
    <wsdl:part name="parameters" element="tns:DQPigeonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DQPigeonService">
    <wsdl:operation name="DQPigeon">
      <wsdl:input name="DQPigeon" message="tns:DQPigeon">
    </wsdl:input>
      <wsdl:output name="DQPigeonResponse" message="tns:DQPigeonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DQPigeonServiceServiceSoapBinding" type="tns:DQPigeonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DQPigeon">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DQPigeon">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DQPigeonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DQPigeonServiceService">
    <wsdl:port name="DQPigeonServicePort" binding="tns:DQPigeonServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/DQPigeonServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
